opacity: 0;
     transition: opacity 0.5s ease, transform 0.5s ease;
   }
   &:hover .gl
   &:hover .glare-inner {
     opacity: 1;
     transform: translateX(100%) rotate(45deg);
   }
}
@keyframes glowing {
 0% { background-position: 0 0; }
 50% { background-position: 400% 0; }
 100% { background-position: 0 0; }
}
// Footer
footer {
margin-top: 60px;
color: $text-color-light;
font-size: 1.2rem;
@include transition-all;
background: none;
box-shadow: none;
z-index: 3;
padding: 20px;
p {
 font-weight: 500;
}
}
// Анимации появления
@keyframes fadeInUp {
from {
 opacity: 0;
 transform: translateY(20px);
}
to {
 opacity: 1;
 transform: translateY(0);
}
}
.animate-fade-in {
animation: fadeInUp 0.8s ease-out;
}
// Media Queries
@media (max-width: 768px) {
header {
 h1 {
   font-size: 2.5rem;
 }
 .subtitle {
   font-size: 1.2rem;
 }
}
main.container{
 form{
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 }
 .nomination {
   padding: 20px;
   .nomination-title {
     font-size: 1.6rem;
     margin-bottom: 20px;
     .icon {
       font-size: 1.8rem;
     }
   }
   label {
     font-size: 1.1rem;
     margin: 12px 0;
   }
 }
}
.auth-button {
 font-size: 1rem;
 padding: 8px 20px;
}
#user-info {
 p {
   font-size: 1.1rem;
 }
}
.vote-button {
 font-size: 1.5rem;
 padding: 18px 40px;
}
footer {
 font-size: 1rem;
}
}
@media (max-width: 480px) {
 header {
   h1 {
     font-size: 2rem;
   }
   .subtitle {
     font-size: 1rem;
   }
 }
 main.container {
     form{
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     }
   .nomination {
     padding: 15px;
     .nomination-title {
       font-size: 1.4rem;
       margin-bottom: 15px;
       .icon {
         font-size: 1.6rem;
         margin-right: 10px;
       }
     }
     label {
       font-size: 1rem;
       margin: 10px 0;
     }
   }
 }
 .auth-button {
   font-size: 0.9rem;
   padding: 6px 15px;
   margin-left: 10px;
 }
 #user-info {
   p {
     font-size: 1rem;
     margin-right: 10px;
   }
 }
 .vote-button {
   font-size: 1.3rem;
   padding: 15px 30px;
   margin-top: 30px;
 }
 footer {
   font-size: 0.9rem;
 }
}
